@import "tailwindcss";

@theme {
  --color-netflix-red: #e50914;
  --color-netflix-redHover: #f6121d;
  --color-netflix-black: #141414;
  --color-netflix-dark: #0b0b0f;
  --font-sans: "Inter", sans-serif;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  background-color: var(--color-netflix-dark);
  color: white;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
